#N
io_readAddrs_0\[.*\]
io_readAddrs_1\[.*\]
io_readThreadID\[.*\]
clock
reset

#S
io_writeAddrs_0\[.*\]
io_wens_0
io_writeData_0\[.*\]
io_writeThreadID\[.*\]
io_readData_0\[.*\]
io_readData_1\[.*\]
io_debugX1_.*
